<div class="list2">

        <div class="xiannv">
                <a href="{{list1data.ad_link}}"><img src="{{list1data.ad_code}}" alt="">
                    <div>
                        <h3>{{list1data.ad_name}}</h3>
                        <p>{{list1data.ad_title}}</p>
                    </div>
                </a>
            </div>
        <ul>
                {{each list1data.product_info}}
            <li>
                <a href="#">
                    <div> <img src="{{$value['product_thumb']}}" alt=""></div>
                    <p class="name">{{$value['ad_title']}}</p>
                    <p class="price">{{$value['ad_subtitle']}}</p>
            </li>
            {{/each}}
            
        </ul>
    </div>
    
