.shop{
    nav{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                height: .39rem;
                line-height: .39rem;
                
                &.active{
                    border-bottom:#999 solid .01rem;

                }
                a{
                    color: #999;
                }

            }
        }

        
    }
}