.shop{
    nav{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                height: .39rem;
                line-height: .39rem;
                
                &.active{
                    border-bottom:#999 solid .01rem;

                }
                a{
                    color: #999;
                }

            }
        }

        
    }
    .ul{
        height: .8rem;
        display: flex;
        li{
            flex: 1;
            display: flex;
            
            a{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                color: #7e8c8d;
                i{
                    font-size: .3rem;
                    font-weight: 100;
                }
                b{
                    font-size: .12rem;
                }
            }
        }
    }
}