<div class="news">
    <a href="{{data.new_register[0].ad_link}}">
        <img src="{{data.new_register[0].ad_code}}" alt="">
    </a>
</div>
<div class="member">
    <a href="{{data.vip_member[0].ad_link}}">
        <img src="{{data.vip_member[0].ad_code}}" alt="">
    </a>
    <ul>
        <li><a href="{{data.vip_member[1].ad_link}}"><img src="{{data.vip_member[1].ad_code}}" alt=""></a></li>
        <li><a href="{{data.vip_member[2].ad_link}}"><img src="{{data.vip_member[2].ad_code}}" alt=""></a></li>
        <li><a href="{{data.vip_member[3].ad_link}}"><img src="{{data.vip_member[3].ad_code}}" alt=""></a></li>
        <li><a href="{{data.vip_member[4].ad_link}}"><img src="{{data.vip_member[4].ad_code}}" alt=""></a></li>
    </ul>
</div>
<ul>
    <li><a href="{{data.buy_list[0].ad_link}}"><img src="{{data.five_example.ads_info.ad_code}}" alt=""></a>
    </li>
    <li><a href="{{data.buy_list[0].ad_link}}"><img src="{{data.buy_list[0].ad_code}}" alt=""></a></li>
</ul>
<div class="xiannv">
    <a href="{{data.article_list[0].ads_info.ad_link}}"><img src="{{data.article_list[0].ads_info.ad_code}}" alt=""></a>
    <div>

        <h3>{{data.article_list[0].ads_info.ad_name}}</h3>
        <p>{{data.article_list[0].ads_info.ad_title}}</p>
    </div>
</div>
<div class="list2">
    <ul>

        <li>
            <div> <img
                    src="{{data.article_list[0].ads_info.product_info[0].product_thumb}}" alt=""></div>
                    <p class="name">{{data.article_list[0].ads_info.product_info[0].ad_title}}</p>
                    <p class="price">{{data.article_list[0].ads_info.product_info[0].ad_subtitle}}</p>
            </li>
        <li><a href="{{data.article_list[0].ads_info.product_info[1].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[1].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[1].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[1].ad_subtitle}}</p>
            </a></li>
        <li><a href="{{data.article_list[0].ads_info.product_info[2].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[2].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[2].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[2].ad_subtitle}}</p>
            </a></li>
        <li><a href="{{data.article_list[0].ads_info.product_info[3].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[3].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[3].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[3].ad_subtitle}}</p>
            </a></li>
        <li><a href="{{data.article_list[0].ads_info.product_info[4].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[4].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[4].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[4].ad_subtitle}}</p>
            </a></li>
        <li><a href="{{data.article_list[0].ads_info.product_info[5].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[5].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[5].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[5].ad_subtitle}}</p>
            </a></li>
        <li><a href="{{data.article_list[0].ads_info.product_info[6].product_thumb}}"><img
                    src="{{data.article_list[0].ads_info.product_info[6].product_thumb}}" alt="">
                <p class="name">{{data.article_list[0].ads_info.product_info[6].ad_title}}</p>
                <p class="price">{{data.article_list[0].ads_info.product_info[6].ad_subtitle}}</p>
            </a></li>
    </ul>
</div>