<div class="container">
  <header>
    <div class="search"><a href="#/index/search"><span class="yo-ico">&#xe650;</span><i>5LUX.COM</i></a></div><span class="yo-ico">&#xe6cd;</span>
  </header>
  <main>
   





  </main>
  <nav>
    <ul class="nav">
      <li class="active">
          <a href="#/index/home/main">
        <i class="yo-ico">&#xe628;</i>
        <b>首页</b></a>
      </li>
      <li><a href="#/index/home/shop">
        <i class="yo-ico">&#xe7e4;</i>
        <b>商城</b></a>
      </li>
      <li><a href="#/server">
        <i class="yo-ico">&#xe60e;</i>
        <b>海外服务</b></a>
      </li>
      <li>
          <a href="#/index/home/arrival">
        <i class="yo-ico"> &#xe766;</i>
        <b>到店</b></a>
      </li>
      <li>
          <a href="#/index/home/my">
        <i class="yo-ico">&#xe78c;</i>
        <b>我的</b></a>
      </li>
    </ul>
  </nav>

</div>