<div class="container">
  <header>
    <div class="search"><span class="yo-ico">&#xe650;</span><i>5LUX.COM</i></div><span class="yo-ico">&#xe6cd;</span>
  </header>
  <main>
   





  </main>
  <nav>
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe628;</i>
        <b><a href="#/index/home/index"></a>首页</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e4;</i>
        <b><a href="#/index/home/shop"></a>商城</b>
      </li>
      <li>
        <i class="yo-ico">&#xe60e;</i>
        <b><a href="#/index/home/server"></a>海外服务</b>
      </li>
      <li>
        <i class="yo-ico"> &#xe766;</i>
        <b><a href="#/index/home/arrival"></a>到店</b>
      </li>
      <li>
        <i class="yo-ico">&#xe78c;</i>
        <b><a href="#/index/home/my"></a>我的</b>
      </li>
    </ul>
  </nav>

</div>