<div class="container">
  <header>
    <div class="search"><span class="yo-ico">&#xe650;</span><i>5LUX.COM</i></div><span class="yo-ico">&#xe6cd;</span>
  </header>
  <main>
   





  </main>
  <nav>
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe628;</i>
        <b><a href="#/index/home/main">首页</a></b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e4;</i>
        <b><a href="#/index/home/shop">商城</a></b>
      </li>
      <li>
        <i class="yo-ico">&#xe60e;</i>
        <b><a href="#/index/home/server">海外服务</a></b>
      </li>
      <li>
        <i class="yo-ico"> &#xe766;</i>
        <b><a href="#/index/home/arrival">到店</a></b>
      </li>
      <li>
        <i class="yo-ico">&#xe78c;</i>
        <b><a href="#/index/home/my">我的</a></b>
      </li>
    </ul>
  </nav>

</div>