<div class="container">
  <header>
    <div class="search"><span class="yo-ico">&#xe650;</span><i>5LUX.COM</i></div><span class="yo-ico">&#xe6cd;</span>
  </header>
  <main>
    <!-- 轮播图 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/04/29/st/155650707036_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/05/22/st/155851924735_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/05/21/de/155842553772_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/05/09/ij/155738929312_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/05/07/hi/155719480076_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/04/29/st/155650707036_750x825.jpg"
              alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="http://img550.5lux.com.cn/2019/04/29/bc/155652366170_750x825.jpg"
              alt=""></a></div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

    </div>
    <!-- 导航栏 -->
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe7e5;</i>
        <b>上新</b>
      </li>
      <li>
        <i class="yo-ico">&#xf025a;</i>
        <b>海外馆</b>
      </li>
      <li>
        <i class="yo-ico">&#xe62f;</i>
        <b>值得买</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e5;</i>
        <b>闪购</b>
      </li>
      <li>
        <i class="yo-ico">&#xe664;</i>
        <b>品牌</b>
      </li>
    </ul>
    <div class="list1">
      <ul>
        <li><a href=""><img src="http://img550.5lux.com.cn/2019/05/10/ef/155747998715_368x260.jpg" alt=""></a></li>
        <li><a href=""><img src="http://img550.5lux.com.cn/2019/05/10/pq/155747998644_368x260.jpg " alt=""></a></li>
        <li><a href=""><img src="http://img550.5lux.com.cn/2019/04/29/fg/155652835370_368x260.jpg" alt=""></a></li>
        <li><a href=""><img src="http://img550.5lux.com.cn/2019/05/10/lm/155747998939_368x260.jpg" alt=""></a></li>
      </ul>
    </div>
    <div id="goodslist">
      
    </div>






  </main>
  <nav>
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe628;</i>
        <b>首页</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e4;</i>
        <b>商城</b>
      </li>
      <li>
        <i class="yo-ico">&#xe60e;</i>
        <b>海外服务</b>
      </li>
      <li>
        <i class="yo-ico"> &#xe766;</i>
        <b>到店</b>
      </li>
      <li>
        <i class="yo-ico">&#xe78c;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>

</div>