<div class="container">
  <header>
    <div class="search"><span class="yo-ico">&#xe650;</span><i>5LUX.COM</i></div><span class="yo-ico">&#xe6cd;</span>
  </header>
  <main>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <!-- 导航按钮 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe7e5;</i>
        <b>上新</b>
      </li>
      <li>
        <i class="yo-ico">&#xf025a;</i>
        <b>海外馆</b>
      </li>
      <li>
        <i class="yo-ico">&#xe62f;</i>
        <b>值得买</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e5;</i>
        <b>闪购</b>
      </li>
      <li>
        <i class="yo-ico">&#xe664;</i>
        <b>品牌</b>
      </li>
    </ul>

    <div>
      <img src="http://img550.5lux.com.cn/2019/05/31/uv/155929725266_750x586.jpg" alt="">
    </div>





  </main>
  <nav>
    <ul class="nav">
      <li class="active">
        <i class="yo-ico">&#xe628;</i>
        <b>首页</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7e4;</i>
        <b>商城</b>
      </li>
      <li>
        <i class="yo-ico">&#xe60e;</i>
        <b>海外服务</b>
      </li>
      <li>
        <i class="yo-ico"> &#xe766;</i>
        <b>到店</b>
      </li>
      <li>
        <i class="yo-ico">&#xe78c;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>

</div>