<div class="search">
    <div>
        <div class="search-header">
                <div class="input">
                        <i class="yo-ico">&#xe650;</i>
                    <form action="#">                 
                        <input type="search" placeholder="Gucci包" >
                    </form>
                </div>
                <span> <a href="">取消</a></span>
            </div>
            <p>热门搜索</p>
            <ul>
                <li>Rolex劳力士</li>
                <li>GUCCI</li>
                <li>斩男香水</li>
                <li>太阳镜</li>
                <li>Hermes爱马仕</li>
                <li>SELF-PORTRAIT仙女裙</li>
                <li>百达翡丽</li>
                <li>CHANEL香奈儿</li>
                <li>Omega欧米茄</li>
                <li>连衣裙</li>
                <li>DIOR迪奥</li>
                <li>S&S纽约故事女装</li>
            </ul>
        
            <div class="tuijian">——为你推荐——</div>
        

        </div>
        <div class="tuijianlist"></div>



</div>