<div class="shop">
    <nav>
        <ul>
            <li class="active"><a href=""> 首页</a></li>
            <li><a href="#a"> 箱包</a></li>
            <li><a href="#"> 美妆</a></li>
            <li><a href="">服装</a> </li>
            <li><a href=""> 腕表</a></li>
            <li><a href=""> 配饰</a></li>
        </ul>
    </nav>
    <!-- 轮播图 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/06/06/cd/155981023173_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/06/05/lm/155970032891_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/05/31/ij/155929523640_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/05/22/hi/155851924439_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/05/21/ef/155842553798_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/04/29/pq/155652366065_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/04/29/bc/155650706524_750x560.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img
                        src="http://img550.5lux.com.cn/2019/05/07/tu/155719480011_750x560.jpg" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>

    </div>

    <ul class="nav">
            <li>
              <i class="yo-ico">&#xe67c;</i>
              <b><a href="#/index/home/main">分类</a></b>
            </li>
            <li>
              <i class="yo-ico">&#xe7cb;</i>
              <b><a href="#/index/home/shop">专柜自提</a></b>
            </li>
            <li>
              <i class="yo-ico">&#xe63c;</i>
              <b><a href="#/index/home/server">拼团</a></b>
            </li>
            <li>
              <i class="yo-ico">&#xe60c;</i>
              <b><a href="#/index/home/arrival">会员特权</a></b>
            </li>
            <li>
              <i class="yo-ico">&#xe6d3;</i>
              <b><a href="#/index/home/my">礼品</a></b>
            </li>
          </ul>
</div>

<!-- 如果需要分页器 -->

<!-- <div class="swiper-container">


        <div class="swiper-wrapper">
        </div>
    </div> -->

